# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
env/
venv/

# Logs and temp files
*.log
*.tmp
*.swp
*.swo

# OS
.DS_Store

# Config
accelerate_config.yaml

backup/

glue-finetune/configs
glue-finetune/fine-tuned-ltg-bert-glue

model_vault/

temp/

data/

blimp_data/
blimp_supplement/

configs/

.vscode/

glue_training/

model_babylm_bert_ltg/

test_models/

outputs/
