# Ignore all directories
*/

# Ignore all folders (alternative syntax)
**/

accelerate_config.yaml

!tests/
!auto_tests/
!scripts/
!src/
!notebooks
!glue-finetune/src/
!glue-finetune/run_finetune.sh
!glue-finetune/README.md
!glue-finetune/requirements.txt

